<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MonoApplications" value="/:." />
		<add key="FastCgiMaxConnections" value="500" />
		<add key="FastCgiMaxRequests" value="500" />
		<add key="MonoConfigApplication" value="localhost:80:/config" />
		<add key="MonoSocketType" value="pipe" />
		<add key="MonoUnixSocket" value="/tmp/fastcgi-mono-server" />
		<add key="MonoServerAddress" value="127.0.0.1" />
	</appSettings>
</configuration>
