[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Monodoc Editor
Exec=monodoc-editor
Terminal=false
Categories=Application;Development;
GenericName=Documentation Editor
Comment=Edit documentation related to Mono
MimeType=text/xml;
Icon=monodoc.png
