#ecma {
	background: #b0c4de;
	border: 2px solid #0b366f;
}
div.MainArea {
}
div.Footer {
	border-top: 1px solid gray;
	margin-top: 1.5em;
	padding-top: 0.6em;
	text-align: center;
	color: gray;
}

/* Titles */
 
div.ReqsTitle, div.ValueTitle, div.RemarksTitle,  div.ParamsTitle, div.ReturnsTitle,
  div.ThreadSafTitle, div.PermTitle, div.ExcTitle, div.EnumMembersTitle, div.ExamplesTitle, 
  div.BehaviorsTitle, div.OverridesTitle, div.ShowMembersTitle, div.UsageTitle, div.NamespaceTypesTitle {
	border-top: 0px;
	border-right: 0px;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	font-size: 110%;
	font-weight: bold;
	padding-left: 0.4em;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
	margin-bottom: 0.5em;
}
div.CodeExampleTitle {
	font-size: 110%;
	font-weight: bold;
   	background: #cdcd82;
	text-align: center;
}
div.NoteTitle, div.SeeAlsoTitle {
	font-style: italic;
	display: inline;
	margin-right: 0.5em;
}
/* NAMESPACE LISTING */

div.MasterNamespaceLink {
	margin-top: 1em;
	font-weight: bold;
	}

div.MasterNamespaceDescription {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 1em;
}

div.SubNamespaceLink {
	margin-left: 2em;
	margin-top: 0.6em;
}

div.SubNamespaceDescription {
	margin-left: 3em;
	margin-top: 0.3em;
}

/* TYPE OVERVIEW */

div.InherTree {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

/* SIGNATURE */

div.Signature {
	border: 1px solid #c0c0c0;
	background: #f2f2f2;
	padding: 0.6em;
	margin-top: 2em;
	margin-bottom: 3em;
}

/* COMMONS */

div.SeeAlso {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

div.MonoImplInfo {
	border: 1px solid red;
	padding: 0.8em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

div.Summary {
	text-indent: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

div.Reqs, div.Value, div.Remarks, div.Params, div.Returns, div.ThreadSaf, div.Perm, 
  div.Exc, div.EnumMembers, div.Examples, div.Behaviors, div Overrides,
  div.Usage {
	text-align: justify;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
}
table.NamespaceTypesTable, table.ShowMembersTable {
	margin-top: 1em;
	margin-bottom: 2em;
	margin-left: 2em;
	border-collapse: collapse;
}

div.ReqsElem {
}

span.NotEntered /* Documentation for this section has not yet been entered */ {
	font-style: italic;
	color: red;	
}

/* MEMBERS LISTING */

div.TypeMembersList {
	margin: 1em;
}

span.TypeMembersElem {
	margin-left: 0.2em;
	margin-right: 0.2em;
}


div.ParamName {
	font-style: italic;
}

div.ParamDescr {
	margin-bottom: 1em;
}

table.EnumerationsTable, table.TypePermissionsTable, table.ExceptionsTable {
	border-collapse: collapse;
}

table.EnumerationsTable tr.Title th, table.TypePermissionsTable tr.Title th, table.ExceptionsTable tr.Title th {
	background: lightgray;
	padding: 0.8em;
	border: 1px solid gray;
}

table.ExceptionsTable tr.Row td, table.TypePermissionsTable tr.Row td {
	padding: 0.5em;
	border: 1px solid gray;
}

table.EnumerationsTable td.EnumName {
	font-style: italic;
	padding: 0.5em;
	border: 1px solid gray;
}

table.EnumerationsTable td.EnumSummary {
	padding: 0.5em;
	border: 1px solid gray;
}


/* SUMMARY */

span.c {
	}
span.Paramref {
	font-style: italic;
}

div.Note {
}

table.Table {
	border-collapse: collapse;
}

table.Table tr.Header th {
	background: lightgray;
	padding: 0.8em;
	border: 1px solid gray;
}

table.Table tr.Item td {
	padding: 0.5em;
	border: 1px solid gray;
}

ul.UList {
}

ul.UList UListItem {
}

ol.OList {
}

ol.OListItem {
}

span.Langword {
}

div.CodeExample {
   margin-top: 0.3em;
   margin-bottom: 0.3em;
   background: #f5f5dd;
}


/* SHOW MEMBERS */

table.ShowMembersTable {
	border-collapse: collapse;
}

table.ShowMembersTable tr.Row td.Constructor {
	border: 1px solid gray;
	padding: 0.5em;
}

table.ShowMembersTable tr.Row td.FieldName {
	padding: 0.5em;
	border: 1px solid gray;
}

table.ShowMembersTable tr.Row td.FieldDescr {
	padding: 0.5em;
	border: 1px solid gray;
}

table.ShowMembersTable tr.Row td.MethodName {
	padding: 0.5em;
	border: 1px solid gray;
}

table.ShowMembersTable tr.Row td.MethodDescr {
	padding: 0.5em;
	border: 1px solid gray;
}

p.MethodDescrPara, p.OperatorDescrPara, p.ConstructDescrPara {
	margin: 0.8em;
	margin-top: 1em;
}

table.ShowMembersTable tr.Row td.Operator {
	padding: 0.5em;
	border: 1px solid gray;
}

/* LIST NAMESPACE TYPES */


table.NamespaceTypesTable {
	border-collapse: collapse;
}

table.NamespaceTypesTable tr.Title th {
	background: lightgray;
	border: 1px solid gray;
	padding: 0.4em;
}

table.NamespaceTypesTable tr.Row td.TypeName {
	border: 1px solid gray;
	border-right: 1px dashed gray;
	padding: 0.3em;
}

table.NamespaceTypesTable tr.Row td.TypeDescr {
	border: 1px solid gray;
	border-left: 0px;
	padding: 0.4em;
	padding-left: 0.8em;
}
