	#cmenu 
	{
			background: #FFF;
			background: url(umbContext_background.gif) repeat-y;
			border:1px solid #666666;
	}

	.menuicon,.menuiconon
	{
		cursor:pointer;
			font-family:Arial,Lucida Grande;
			font-size:11px;
			height:20px;
			margin:1px;
	}

	.menuicon {
		padding:2px;
	 }

	 .menuiconon {
		padding:1px;
		border:1px solid #0A246A;
		background:#FFEEC2;
	 }

	#cmenu img {
		height:16px;
		width:16px;
		margin:1px 10px 0 2px;
	}

	#cmenu .splitter {
		background:url(splitter.gif);
		height:3px;
		margin:0 0px 0 30px;
		padding:0px;
		display:block;
		width:115px;
	}
